@mixin darkMode($isDark: true) {
  @if($isDark) {
    background-color: $darkB;
    color: white;
  }
  @else {
    background-color: white;
    color: black;
  }
}

@mixin darkModeHero($isDark: true) {
  @if($isDark) {
    box-shadow: 0px 0px 0px 2000px inset rgba(0, 0, 0, 0.7);
    color: white;
  }
  @else {
    box-shadow: 0px 0px 0px 2000px inset rgba(255, 255, 255, 0.8);
    color: black;
  }
}

@mixin darkModeNavFoot($isDark: true) {
  @if($isDark) {
    background-color: black;
  }
  @else {
    background: rgb(136,96,208);
    background: linear-gradient(90deg, rgba(136,96,208,1) 0%, rgba(132,206,235,1) 100%);
  }
}

@mixin darkModeButton($isDark: true) {
  @if($isDark) {
    @include buttonsDark();
  }
  @else {
    @include buttonsLight();
  }
}