@mixin xs {
    @media (max-width: 576px) { @content; }
}
@mixin sm {
    @media (min-width: 576px) { @content; }
}
@mixin md {
    @media (min-width: 768px) { @content; }
}
@mixin lg {
    @media (min-width: 992px) { @content; }
}
@mixin xl {
    @media (min-width: 1200px) { @content; }
}
@mixin xxl {
    @media (min-width: 1400px) { @content; }
}

@mixin buttonsLight {
    background: rgb(136,96,208);
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.8rem;
    letter-spacing: 4px;
}

@mixin buttonsDark {
    background: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.8rem;
    letter-spacing: 4px;
}