@import "_variables";
@import "_mixins";
@import "_function";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$bg_color: black;

// GENERAL

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    @include darkMode($bg_color);
    color: inherit;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    margin-bottom: 2rem;
    font-weight: 600;
    color: inherit;
}

// HEADER

.navbar {
    position: sticky;
    top: 0;
    z-index: 2000;
}
.bi {
    font-size: 1.6rem;
}
.dropdown-item {
    width: fit-content;
    margin: 0;
    min-width: 0;
}

.logo {
    width: 60px;
}

.dropdown-menu.show {
    display: flex;
    justify-content: center;
}

.dropdown-menu[data-bs-popper] {
    left: -70px;
}

.dark-mode-navfoot {
    @include darkModeNavFoot(true);
}

.light-mode-navfoot {
    @include darkModeNavFoot(false);       
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}

// MAIN

.dark-mode {
    @include darkMode(true);
}

.light-mode {
    @include darkMode(false);       
}

// HERO

#logo--img {
    width: 250px;
    margin: 2rem 0;
}

.herotext {
    height: fit-content;
}

.heroimage {
    width: fit-content;
}

.dark-mode-hero {
    @include darkModeHero(true);
}

.light-mode-hero {
    @include darkModeHero(false);       
}

.dark-mode-button {
    @include darkModeButton(true);
}

.light-mode-button {
    @include darkModeButton(false);       
}

.hero {
    background-image: url(../images/abstract2.jpg);
    background-repeat: repeat;
    height: 100%;
    p {
        font-size: 1rem;
    }
    button {
        i {
            font-size: 1rem;
        }   
    }
    button:hover {
        background-color: lighten($primary, 10%);
        transition: .3s;
    }
    margin-bottom: 10rem;
    padding: {
        top: 6rem;
        bottom: 6rem;
    }
}

// PARTNERSHIP

.partnership {
    max-width: 720px;
    margin: {
        bottom: 10rem;
    }
    h5 {
        color: black;
    }
    p {
        margin-bottom: 2rem;
    }
    .card {
        background-color: white;
        border: solid 2px black;
        box-shadow: 
            10px 10px 0 -2px white, 
            10px 10px black;
        .card-title {
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
}

// CAROUSEL

.carousel-container {
    padding: {
        bottom: 10rem;
    }
    .container {
        @include md {
            max-width: 500px; 
        }
    }
    .carousel-caption {
        background-color: rgb(255 255 255 / .8);
        border-radius: 10px;
        padding: {
            left: 6px;
            right: 6px;
        }
    }
}

// FOOTER

footer {
    .form-check {
        width: 8rem;
    }
    .form-check-input:active {
        filter: unset;
        background-color: lavender;
        border-color: lavender;
    }
    .form-check-input:checked {
        background-color: $secondary;
        border-color: lavender;
    }
    .form-check-input:focus {
        box-shadow: 0 0 0 0.25rem rgb(230 230 250 / 25%);
        border: none;
    }
}